.footer {
    font-family: "Poppins", sans-serif;
  }
  
  .footer-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
  
  .footer-link {
    text-decoration: none;
    color: #bbb;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #ffffff;
  }
  
  .social-icon {
    font-size: 1.2rem;
    margin-right: 15px;
    color: #bbb;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #ffffff;
  }
  